<h2> Country </h2>
  <%= @forecast.country_name %>

<h2> Temp 'C by zip code</h2>
<p>
  <%= @forecast.temp_c %>
</p>

<h2> Weather </h2>
<p>
  <%= @forecast.weather %>
</p>

<h2> Weather by zip code</h2>
<p>
  <%= @forecast.zip_weather %>
</p>

